/Screenshot from 2025-07-08 11-57-59.png
/Shot.png
/box.css
/box.html
/contactus.html
/contatus.css
/ecommerce.css
/ecommerce.html
/file.css
/file.html
/form.html
/form.js
/help.png
/image1.webp
/image2.webp
/image3.webp
/image4.webp
/image5.png
/image6.png
/image7.png
/myfirstjs.html
/myfirstjs.js
/py50page
/white-cloud.svg